{% extends 'panel/core/base.html' %}

{% block content %}
    {% with instance as student %}
        <div class="container content">
            <div class="col-sm-12 col-md-10 col-lg-10 col-lg-offset-1">
                <div class="col-md-6 col-lg-6">
                    <h1>{{ student.name }} {{ student.surname }}</h1>
                </div>
                <div class="col-md-6 col-lg-6">
                    <h1>{{ student.address }}</h1>
                </div>
            </div>
            <div class="xs-mt-10 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title-for-hx pull-left">
                            Informacje
                        </h3>
                        <a href="{% url 'panel.students.edit' uuid=student.id %}" class="btn btn-xs btn-info pull-right">Edytuj</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Imię</th>
                                    <td>{{ student.name }}</td>
                                </tr>
                                <tr>
                                    <th>Nazwisko</th>
                                    <td>{{ student.surname }}</td>
                                </tr>
                                <tr>
                                    <th>Pesel</th>
                                    <td>{{ student.pesel }}</td>
                                </tr>
                                <tr>
                                    <th>Telefon</th>
                                    <td>{{ student.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Adres</th>
                                    <td>{{ student.address }}</td>
                                </tr>
                                <tr>
                                    <th>Grupa</th>
                                    <td><a href="{% url 'panel.students.groups.info' uuid=student.group_id %}">{{ student.group|default:"" }}</a></td>
                                </tr>
                                <tr>
                                    <th>Płatność</th>
                                    <td>{{ student.paid|default:"0" }} z {{ student.price }} PLN</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="xs-mt-10 col-sm-6 col-md-6 col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title-for-hx pull-left">
                            Płatności
                        </h3>
                        <a href="{% url 'panel.students.payments.add' uuid=student.id %}" class="btn btn-xs btn-success pull-right">Dodaj</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Instruktor</th>
                                    <th>Kwota</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in student.payments.all %}
                                    <tr>
                                        <td>{{ payment.date }}</td>
                                        <td>{{ payment.instructor }}</td>
                                        <td>{{ payment.value }} PLN</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container content">
            <div class="xs-mt-10 col-sm-6 col-md-6 col-lg-4 col-lg-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title-for-hx pull-left">
                            Jazdy
                        </h3>
                        <a href="{% url 'panel.students.drives.add' uuid=student.id %}" class="btn btn-xs btn-success pull-right">Dodaj</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Czas</th>
                                    <th>Instruktor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for drive in student.drives.all %}
                                    <tr>
                                        <td>{{ drive.date }}</td>
                                        <td>{{ drive.start_time }} - {{ drive.end_time }}</td>
                                        <td>{{ drive.instructor }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="xs-mt-10 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title-for-hx pull-left">
                            Wykłady
                        </h3>
                        <div class="pull-right">
                            <a href="{% url 'panel.students.lectures.add' %}" class="btn btn-xs btn-warning">Dodaj prywatny</a>
                            <a href="{% url 'panel.lectures.add' %}" class="btn btn-xs btn-success">Dodaj</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Temat</th>
                                    <th>Data</th>
                                    <th>Czas</th>
                                    <th>Instruktor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lecture in student.group.lectures.all %}
                                    <tr>
                                        <td>{{ lecture.topic }}</td>
                                        <td>{{ lecture.date }}</td>
                                        <td>{{ lecture.start_time }} - {{ lecture.end_time }}</td>
                                        <td>{{ lecture.instructor }}</td>
                                    </tr>
                                {% endfor %}
                                {% if student.lectures.all %}
                                    <tr class="active"><th colspan="5">Prywatne lekcje</th></tr>
                                    {% for lecture in student.lecturesindividual.all %}
                                        <tr>
                                            <td>{{ lecture.topic }}</td>
                                            <td>{{ lecture.date }}</td>
                                            <td>{{ lecture.start_time }} - {{ lecture.end_time }}</td>
                                            <td>{{ lecture.instructor }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
