{% extends 'panel/core/base.html' %}

{% block content %}
    {% with instances as students %}
        <div class="container content">
            <div class="row">
                <div class="xs-mt-10 lg-mt-20 col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 well">
                    <div class="col-xs-12">
                        <a href="{% url 'panel.students.add' %}" class="btn btn-block btn-success">Dodaj nowego kursanta</a>
                    </div>
                    <div class="xs-mt-10 lg-mt-20 col-xs-12">
                        {% with placeholder="Podaj nazwisko lub pesel" %}
                            {% include 'panel/forms/form_search_inc.html' %}
                        {% endwith %}
                    </div>
                </div>

                {% if students %}
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title-for-hx pull-left">
                                    Znalezieni kursanci
                                </h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed tablesorter">
                                    <thead>
                                        <tr>
                                            <th>Imię i nazwisko</th>
                                            <th>Pesel</th>
                                            <th>Telefon</th>
                                            <th>Grupa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in students %}
                                            <tr>
                                                <td><b><a href="{% url 'panel.students.info' uuid=student.id %}">{{ student.name }} {{ student.surname }}</a></b></td>
                                                <td>{{ student.pesel }}</td>
                                                <td>{{ student.phone }}</td>
                                                <td><a href="{% url 'panel.students.groups.info' uuid=student.group_id %}">{{ student.group }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if form.search.value %}
                        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                            <div class="alert alert-warning" role="alert">Nie znaleziono w bazie kursantów dla podanych danych</div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endblock %}