{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="xs-mt-10 col-sm-12 col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title-for-hx pull-left">
                        Kursanci
                    </h3>
                    <a href="{% url 'panel.students.groups.student.add' uuid=group.id %}" class="btn btn-xs btn-success pull-right">Dodaj</a>
                    <div class="clearfix"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed tablesorter">
                        <thead>
                            <tr>
                                <th>Imię i nazwisko</th>
                                <th>Pesel</th>
                                <th>Telefon</th>
                                <th>Płatność</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in group.students.all %}
                                <tr>
                                    <td><b><a href="{% url 'panel.students.info' uuid=student.id %}">{{ student.name }} {{ student.surname }}</a></b></td>
                                    <td>{{ student.pesel }}</td>
                                    <td>{{ student.phone }}</td>
                                    <td>{{ student.paid|default:"0" }} z {{ student.price }} PLN</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}