{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="xs-mt-10 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title-for-hx pull-left">
                        Grupy kursantów
                    </h3>
                    <a href="{% url 'panel.students.groups.add' %}" class="btn btn-xs btn-success pull-right">Dodaj</a>
                    <div class="clearfix"></div>
                </div>
                <span class="table-responsive">
                    <table class="table table-bordered table-striped table-with-buttons">
                        <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td><a href="{% url 'panel.students.groups.info' uuid=group.id %}"><b>{{ group }}</b></a></td>
                                    <td class="text-center"><a href="{% url 'panel.students.groups.lectures.add' uuid=group.id %}" class="btn btn-xs btn-primary">Dodaj wykład</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}