{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="xs-mt-10 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            {% for price in prices %}
                <div class="col-xs-6 col-md-4 col-lg-3 xs-mt-5 md-mt-10 lg-mt-20">
                    <a href="{% url 'panel.prices.edit' id=price.id %}" type="button" class="btn btn-primary btn-lg btn-block btn-icon-right"><b>{{ price.price }}</b> <i class="fa fa-lg fa-pencil-square-o"></i></a>
                </div>
            {% endfor %}
            <div class="col-xs-6 col-md-4 col-lg-3 xs-mt-5 md-mt-10 lg-mt-20">
                <a href="{% url 'panel.prices.add' %}" type="button" class="btn btn-success btn-lg btn-block btn-icon-right"><b>Dodaj</b></a>
            </div>
        </div>
    </div>
{% endblock %}