{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block title %}Zaloguj się do systemu{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row xs-mt-20 lg-mt-30">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="LoginForm" method="post">
                    {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="xs-mb-5 xs-mt-5">Zaloguj się do systemu</h2>
                        </div>
                        <div class="panel-body">
                            <div class="input-group xs-mb-10">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {% render_field form.username class="form-control" placeholder="Pesel" %}
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {% render_field form.password class="form-control" placeholder="Hasło" %}
                            </div>

                            <div class="row md-mt-0 lg-mt-10">
                                <div class="col-md-8 checkbox">
                                    <label><input type="checkbox"> Pozostań zalogowanym</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="Zaloguj" type="submit" class="btn btn-primary pull-right">
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </div>

                            {% if form.errors %}
                                <div class="alert alert-danger fade in alert-dismissable margin-top-20 no-margin-bottom">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>{{ form.errors }}</strong>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/row-->
    </div>

    {% block javascripts %}
        {{ block.super }}
        <script type="text/javascript">
            $(function() {
                // Setting focus
                $('input[name="user[username]"]').focus();
            });
        </script>
    {% endblock %}
{% endblock %}
