{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="xs-mt-10 lg-mt-20 col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 well">
                <div class="col-xs-12">
                    <a href="{% url 'panel.lectures.add' %}" class="btn btn-block btn-success">Dodaj wykład</a>
                </div>
                <div class="xs-mt-10 lg-mt-20 col-xs-12">
                    {% with placeholder="Podaj grupę lub datę (np. 01.01.2010)" %}
                        {% include 'panel/forms/form_search_inc.html' %}
                    {% endwith %}
                </div>
            </div>

            {% if lectures %}
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title-for-hx pull-left">
                                Znalezione wykłady
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed tablesorter">
                                <thead>
                                    <tr>
                                        <th>Grupa</th>
                                        <th>Temat</th>
                                        <th>Data</th>
                                        <th>Czas</th>
                                        <th>Instruktor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lecture in lectures %}
                                        <tr>
                                            <td><b><a href="{% url 'panel.students.groups.info' id=lecture.group.id %}">{{ lecture.group }}</a></b></td>
                                            <td>{{ lecture.topic.topic }}</td>
                                            <td>{{ lecture.date }}</td>
                                            <td>{{ lecture.start_time }} - {{ lecture.end_time }}</td>
                                            <td>{{ lecture.instructor.name }} {{ lecture.instructor.surname }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if form.search.value %}
                    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="alert alert-warning" role="alert">Nie znaleziono w bazie wykładów dla podanych danych</div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}