{% load cache %}
<!DOCTYPE html>
<html lang="pl">
    {% block head %}
        <head>
            {# Title #}
            <title>{% block title %}O.S.K. Śląsk{% endblock %}</title>

            {# Meta #}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta content="Strona OSK Śląsk" name="description" />
            <meta content="Kamil Sowiński" name="author" />

            {# Favicon #}
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

            {% block stylesheets %}
                {% cache 900 stylesheets %}
                    {# Boostwatch Yeti #}
                    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/3/yeti/bootstrap.min.css" />

                    {# Less Spaces #}
                    <link rel="stylesheet" type="text/css" href="{% static 'css/less-space.css' %}" />

                    {# Font Awesome #}
                    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

                    {# Tablesorter plugin #}
                    <link rel="stylesheet" type="text/css" href="{% static 'plugins/tablesorter/jquery.tablesorter.css' %}" />

                    {# CSS Customization #}
                    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
                {% endcache %}
            {% endblock %}
            {% block javascripts %}
                {% cache 900 javascripts %}
                    {# Basic bootstrap javascripts #}
                    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

                    {# Tablesorter plugin #}
                    <script src="{% static 'plugins/tablesorter/jquery.tablesorter.min.js' %}"></script>

                    {# HTML5 shim and Respond.js for IE8 support #}
                    <!--[if lt IE 9]>
                        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                    <![endif]-->
                 {% endcache %}
            {% endblock %}
        </head>
    {% endblock %}
    {% block body %}
        <body style="padding-top: 50px">
            {% block header %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            <script type="application/javascript">
                $(document).ready(function()
                    {
                        $(".tablesorter").tablesorter();
                    }
                );
            </script>
        </body>
    {% endblock %}
</html>


