{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="xs-mt-10 col-sm-12 col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title-for-hx pull-left">
                        Instruktorzy
                    </h3>
                    <a href="{% url 'panel.instructors.add' %}" class="btn btn-xs btn-success pull-right">Dodaj</a>
                    <div class="clearfix"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed tablesorter">
                        <thead>
                            <tr>
                                <th>Imię i nazwisko</th>
                                <th>Pesel</th>
                                <th>Telefon</th>
                                <th>Numer ewidencyjny</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instructor in instructors %}
                                <tr>
                                    <td><b><a href="{% url 'panel.instructors.edit' uuid=instructor.id %}">{{ instructor.name }} {{ instructor.surname }}</a></b></td>
                                    <td>{{ instructor.pesel }}</td>
                                    <td>{{ instructor.phone }}</td>
                                    <td>{{ instructor.irn }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}