{% extends "panel/core/base.html" %}

{% block content %}
    <div class="container content">
        <div class="row">
            {% for item in menu_items %}
                <div class="col-sm-6 col-md4 col-lg-3 sm-mt-10 lg-mt-20">
                    <a class="btn btn-lg btn-block btn-primary" href="{% url item.route %}">
                        <i class="fa fa-fw {{ item.icon }}" aria-hidden="true"></i>
                        <b>{{ item.name }}</b>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}