{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="xs-mt-10 lg-mt-20 col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 well">
                <div class="col-xs-12">
                    <a href="{% url 'panel.drives.add' %}" class="btn btn-block btn-success">Dodaj jazdę</a>
                </div>
                <div class="xs-mt-10 lg-mt-20 col-xs-12">
                    {% with placeholder="Podaj nazwisko, pesel lub datę" %}
                        {% include 'panel/forms/form_search_inc.html' %}
                    {% endwith %}
                </div>
            </div>

            {% if drives %}
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title-for-hx pull-left">
                                Znalezione jazdy
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed tablesorter">
                                <thead>
                                    <tr>
                                        <th>Kursant</th>
                                        <th>Pesel</th>
                                        <th>Data</th>
                                        <th>Czas</th>
                                        <th>Instruktor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for drive in drives %}
                                        <tr>
                                            <td><b><a href="{% url 'panel.students.info' id=drive.student.id %}">{{ drive.student.name }} {{ drive.student.surname }}</a></b></td>
                                            <td>{{ drive.student.pesel }}</td>
                                            <td>{{ drive.date }}</td>
                                            <td>{{ drive.start_time }} - {{ drive.end_time }}</td>
                                            <td>{{ drive.instructor.name }} {{ drive.instructor.surname }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if form.search.value %}
                    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="alert alert-warning" role="alert">Nie znaleziono w bazie wykładów dla podanych danych</div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}