<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Przełącz nawigację</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'student.index' %}">
          O.S.K. ŚLĄSK
          {# <img alt="Brand" src="{% static "img/logo.png" %}" #}
      </a>
    </div>
    {% if user.student.is_authenticated %}
    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav">
          <li><a href="{% url 'panel.students.groups.list' %}">
              <i class="fa fa-fw fa-users" aria-hidden="true"></i>
              Grupy
          </a></li>
      </ul>
      --->
      <ul class="nav navbar-nav navbar-right">
        <li>
            <p class="navbar-text">
                <i class="fa fa-user"></i>&nbsp;
                {{ user.name }}
                {{ user.surname }}
            </p>
        </li>
        <li><a href="{% url "logout" %}"><span class="fa fa-sign-out"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
    {% endif %}
  </div>
</nav>