{% extends 'panel/core/base.html' %}
{% load widget_tweaks %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container content">
        <div class="xs-mt-10 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel {% block panel_type %}panel-success{% endblock %}">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ form_title }}
                    </h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field.errors }}
                                {% render_field field class+="form-control" %}
                            </div>
                        {% endfor %}
                        <div>
                            <input type="submit" class="btn {% block submit_button_type %}btn-success{% endblock %}" value="Zapisz" />
                            <a class="btn btn-default" href="{{ urls.return }}">Anuluj</a>
                            {% block delete_button %}{% endblock %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block modal %}{% endblock %}
{% endblock %}