{% load widget_tweaks %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
        {{ form.search.errors }}
            <div class="col-xs-12 col-sm-8">
                {% render_field form.search class+="form-control" placeholder=placeholder %}
            </div>
            <div class="xs-mt-10 md-mt-0 col-xs-12 col-sm-4">
                <input type="submit" class="btn btn-block btn-primary" value="Szukaj" />
            </div>
        </div>
    </form>
{% endblock %}