{% extends 'panel/forms/form_add.html' %}

{% block panel_type %}panel-primary{% endblock %}">

{% block delete_button %}
    <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#confirmDelete">Usuń</button>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Potwierdź usunięcie
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
              Dane zostaną <b>nieodwracalnie</b> utracone. Czy na pewno chcesz usunąć?
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" href="{{ urls.delete }}">Tak</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}