{% extends "portal/core/base.html" %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-sm-12 alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h2 class="sm-m-0">Moduł dla kursantów nie jest jeszcze gotowy, przepraszamy ;/</h2>
            </div>
        </div>
    </div>
{% endblock %}