{% extends 'panel/core/base.html' %}

{% block content %}
    <div class="container content">
        <div class="xs-mt-10 col-sm-12 col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title-for-hx pull-left">
                        Płatności (ostatni tydzień)
                    </h3>
                    <a href="{% url 'panel.payments.add' %}" class="btn btn-xs btn-success pull-right">Dodaj</a>
                    <div class="clearfix"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed tablesorter">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Kursant</th>
                                <th>Intruktor</th>
                                <th>Kwota</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.date }}</td>
                                    <td><a href="{% url 'panel.students.info' id=payment.student_id %}">{{ payment.student.name }} {{ payment.student.surname }} | {{ payment.student.pesel }}</a></td>
                                    <td><a href="{% url 'panel.instructors.info' id=payment.instructor_id %}">{{ payment.instructor.name }} {{ payment.instructor.surname }}</a></td>
                                    <td>{{ payment.value }} PLN</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}